<h1>Congratulations</h1>

<p>You are viewing the about page for my simple blog app which I 
	use as a test fixture for RPM agent tests.</p>
	<p>Note that this is in a private git repo on RPM.  It has a generic
		master branch for the app, and branches for each of the versions
		of the rails framework.</p>

		<h2>That is all.</h2>
		Now <%= link_to 'back to blogs', :action => 'index' %>.